* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  font-family: montserrat-regular;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat-bold;
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input[type='color'] {
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  height: 3.4375rem;
  width: 3.4375rem;
}

button {
  font-size: 2rem;
  font-family: inherit;
}

.logo {
  font-family: eczar;
}
