* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input[type='color'] {
  font-size: 1rem;
  text-align: center;
  height: 3.4375rem;
  width: 3.4375rem;
}

/* .grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'owner owner owner'
    'owner owner owner'
    'footer footer footer';
} */

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  max-height: 58.4375rem;
  grid-area: main;
}

.owner {
  grid-area: owner;
}

.footer {
  grid-area: footer;
}

button {
  font-size: 2rem;
  font-family: inherit;
}
