/* gallery grid */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.8125rem, 1fr));
  grid-auto-rows: auto;
  width: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 80vh;
  margin: auto;
}

.grid-item {
  min-height: 9.8125rem;
  background-size: cover;
  background-position: center;
}
