.header {
  background-color: var(--primaryClr);
}

.header-container.flex {
  justify-content: space-between;
  align-items: center;
}

.links-container > *:not(.active) {
  color: var(--primaryTxtClr);
}

.active {
  color: #333;
  text-decoration: underline;
}

header span {
  font-size: 1.5rem;
  color: #333;
}

.slide-bottom {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* animation for span */

@-webkit-keyframes slide-bottom {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}
