.meme-dashboard {
  max-height: 65vh;
  background-color: var(--mainBgClr);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
}
.meme-dashboard canvas {
  border: 2px solid #fff;
}

.meme-dashboard.video-active .meme-dashboard {
  max-width: 100vh;
}

.meme-dashboard.flex {
  flex-direction: row;
}

.meme-container.flex {
  flex-direction: row-reverse;
}

.control-panel.flex {
  width: 23.375rem;
  margin-inline-start: 6.25rem;
  flex-direction: column;
}

.control-panel.flex input:not([type='color']) {
  background-color: rgb(214, 214, 214);
  width: 100%;
  font-size: 2rem;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.first-panel.flex {
  justify-content: center;
  margin-bottom: 1.6875rem;
}
.first-panel.flex > * {
  margin-inline: 1rem;
}

.second-panel.flex {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.second-panel.flex > * {
  margin: 0.55rem;
  margin-bottom: 1rem;
}

.second-panel.flex select {
  border-radius: 10px;
  width: 13.625rem;
}

.download-img {
  background-color: var(--mainBgClr);
  border-radius: 10px;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.6rem 1.2rem;
  border: 1px solid black;
}

.video-container {
  opacity: 0;
  position: relative;
  padding: 3rem;
  border-radius: 10px;
  background-color: var(--mainBgClr);
  display: flex;
  flex-direction: column;
}
video {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.video-container button {
  margin: auto;
}

.share-container .fa-brands.fa-facebook-square {
  color: rgba(0, 0, 255, 0.768);
  font-size: 3.4375rem;
}
.share-container .fa-brands.fa-whatsapp-square {
  color: rgba(12, 191, 78, 0.768);
  font-size: 3.4375rem;
}

.share-container > *:not(a:first-of-type) {
  margin-inline-start: 1rem;
}
