nav .nav {
  font-size: 1.1875rem;
}

nav > * {
  margin: 1.125rem 0;
}

nav.flex {
  justify-content: space-between;
}

.search-container {
  width: 25%;
}
.search-container input {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #333;
  padding-top: 2rem;
  width: 100%;
}

.search-container input:focus::placeholder {
  transition: 0.3s ease;
  transform: translateY(-150%);
  opacity: 0;
}
.search-container input:focus {
  outline: none;
}

nav .word-cloud > * {
  margin-inline-start: 10px;
  cursor: pointer;
}

.word-cloud {
  align-self: center;
}
