nav .nav {
  font-size: 1.1875rem;
}

nav > * {
  margin: 1.125rem 0;
}

nav.flex {
  justify-content: space-between;
}
nav .random-meme {
  font-size: 0.8rem;
  border-radius: 20px;
  border: 1px solid white;
  background-color: var(--primaryClr);
  width: 5rem;
  color: #ffff;
}

.search-container input {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #333;
  padding-top: 2rem;
}

.search-container input:focus::placeholder {
  transition: 0.3s ease;
  transform: translateY(-150%);
  opacity: 0;
}

.search-container input:focus {
  outline: none;
}
